<div class="modal">
    <div class="modal-dialog w-450">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" ng-click="$hide()">&times;</a>
                <h5 class="modal-title">关注吾商微信公众账号</h5>
            </div>
            <div class="modal-body h-240">
                <div class="app-down-container W-180">
                    <div class="app-qrcode"></div>
                    <div class="app-title h4">扫描加关注</div>
                </div>
                <div class="app-down-title">
                    <div class="h5">关注吾商微信公众账号后<br/>即可实时查看每日各项收益</div>
                </div>
            </div>
        </div>
    </div>
</div>