
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="fragment" content="!" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>消费金融</title>
    <link rel="stylesheet" type="text/css" href="/asset/at-theme/login.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/atmanlib/asset/theme/css/at-bootstrap.css" />

    <!-- Atman Util -->
    <link rel="stylesheet" type="text/css" href="/atmanlib/asset/theme/css/at-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/asset/at-theme/at-theme-customize.css" />
    <!-- 兼容低版本浏览器 -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/atmanlib/vendor/bower_components/bootstrap/dist/js/html5shiv.js"></script>
    <script src="/atmanlib/vendor/bower_components/bootstrap/dist/js/respond.src.js"></script>
    <![endif]-->
</head>

<body class="ft-12 bg-f8 page-990">
<div class="container">
    <a href="/#/" class="logo"></a>
    <div class="row mgt-35">
        <div class="col-xs-2">
            <ul class="at-sidenav bg-ff">
                <li ng-class="{'active':navPath == 'infocenter'}">
                    <a href="javascript:void(0)">
                        <h5 class="mg-0 c000">我的服务</h5>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h5 class="mg-0 c000">了解我们</h5>
                    </a>
                    <ul>
                        <li>
                            <a href="/common/template/serviceClause/personnel-recruitment.html">人才招聘</a>
                        </li>
                        <li>
                            <a href="/common/template/serviceClause/about-us.html">关于我们</a>
                        </li>
                        <li >
                            <a href="/common/template/serviceClause/link-us.html">客服中心</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h5 class="mg-0 c000">购物资讯</h5>
                    </a>
                    <ul>
                        <li>
                            <a href="/help/guide.html" target="_blank">购物指南</a>
                        </li>
                        <li class="active">
                            <a href="/common/template/serviceClause/consumer-finance.html">消费金融</a>
                        </li>
                        <li>
                            <a href="/common/template/serviceClause/payments.html">支付方式</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h5 class="mg-0 c000">配送服务</h5>
                    </a>
                    <ul>
                        <li >
                            <a href="/common/template/serviceClause/distribution-policy.html">配送政策</a>
                        </li>
                        <li>
                            <a href="/common/template/serviceClause/freight-rate.html">配送运费</a>
                        </li>
                        <li >
                            <a href="/common/template/serviceClause/distribution-range.html">配送范围</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h5 class="mg-0 c000">售后服务</h5>
                    </a>
                    <ul>
                        <li >
                            <a href="/common/template/serviceClause/return-flow.html">退换货流程</a>
                        </li>
                        <li>
                            <a href="/common/template/serviceClause/refund-instructions.html">退款说明</a>
                        </li>
                        <li>
                            <a href="/common/template/serviceClause/return-policy.html">退换货政策</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-10 about-us bg-ff bd-1 bdc-ef" >
            <h3 class="page-header mgt-15">
                消费金融
            </h3>
            <h4 id="rebateFund" class="mgt-20 cur ft-12">
                返利金
            </h4>
            <p>
                用户购买商品后，推广购买的商品给自己的粉丝，粉丝购买用户推广的商品，用户可得的返利金额。 粉丝购买的推广商品过了退货期，才可以购物抵扣，退货期内处于冻结状态。 发生退货，返利金将被回收。
            </p>
            <div class="bd-1 bd-t-dot bdc-ef  mgt-20"></div>
            <h4 id="popularizeFund" class="mgt-20 cur ft-12">
                推广金
            </h4>
            <p>
                用户购买商品后，推广购买的商品给自己的粉丝的同时，可将推广金分发给粉丝，粉丝在当天领取获得的推广金，变为吾商币。
                用户购买的商品过了退货期，粉丝获得的吾商币才可以购物抵扣，退货期内处于冻结状态。
                发生退货，推广金将被回收。
            </p>
            <div class="bd-1 bd-t-dot bdc-ef  mgt-20"></div>
            <h4 class="mgt-20 cur ft-12">
                吾商币
            </h4>
            <p>
                粉丝在当天领取获得的推广金，变为吾商币。
            </p>
            <div class="bd-1 bd-t-dot bdc-ef  mgt-20"></div>
            <h4 id="stockDesc" class="mgt-20 cur ft-12">
                商票
            </h4>
            <p>
                用户购买商品获得的凭证，不同类目的凭证，可以获取不同类目的现金分红。
            </p>
            <div class="bd-1 bd-t-dot bdc-ef  mgt-20"></div>
            <h4 id="perTenThousand" class="mgt-20 cur ft-12">
                年化收益率
            </h4>
            <p>
                通过某商品类目下的商票，平均一年将获得的分红金额，与商票数量的比值。
            </p>
        </div>
    </div>
</div>
<div class="footer">
    <span>Copyright &copy; 2014 阿特门版权所有.</span>
    <span class="mgl-10">沪ICP备14001783号-9</span>
</div>
</body>

</html>